.card {
  padding: 1.5em;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgb(124, 124, 124);
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  align-items: center;

  font-weight: bold;

  h3 {
    margin: 0;
  }
}

.downloadButton {
  font-weight: normal;
  background-color: #3a8cec;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.downloadButton:hover {
  background-color: #0056b3;
}
